# 여러개 입력처리

In [2]:
a = 'red green blue'
a.split()

['red', 'green', 'blue']

In [3]:
b = 'red, green, blue'
b.split(',') # ,기준으로 나누기

['red', ' green', ' blue']

In [6]:
string = input("빛의 3원색을 빈칸으로 구분하여 입력하세요.")
string

'빨강 초록 파랑'

In [9]:
r,g,b = string.split()
r,g,b

('빨강', '초록', '파랑')

In [14]:
numbers = ['3.1','2.4','8.5']
list(map(float, numbers))

[3.1, 2.4, 8.5]

In [15]:
string = '3.1 2.4 8.5'
list(map(float, string.split()))

[3.1, 2.4, 8.5]

In [16]:
string = input("실수 세개를 빈칸으로 구분하여 입력하세요.")
string

'3.1 2.4 8.5'

In [17]:
list(map(float, input('실수 세개 입력').split()))

[3.1, 2.4, 8.5]

In [18]:
x,y,z =[3.1, 2.4, 8.5]
x,y,z

(3.1, 2.4, 8.5)

In [19]:
x,y,z = list(map(float,input('실수 세개 입력').split() ) )
x,y,z

(3.14, 1.414, 2.718)

In [20]:
x,y,z = map(float,input('실수 세개 입력').split() ) #리스트 쓸 때 안 쓸 때 결과 같음 
x,y,z

(3.14, 1.414, 2.718)

## range - sequence 자료형

In [21]:
# 하나만 있으면 끝값 + 1 
list(range(5))

[0, 1, 2, 3, 4]

In [23]:
# 1~10
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
# 1-10, 홀수
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [25]:
# 10~1, 짝수
list(range(10,1,-2))

[10, 8, 6, 4, 2]

### 두개의 정수를 입력받아서 첫번째 값에서 부터 두번째 값까지 출력

In [46]:
a,b = map(int, input("두개의 정수 입력").split())
a,b

(5, 10)

In [47]:
print(list(range(a, b+1)))

[5, 6, 7, 8, 9, 10]