# 7장. 자료 구조

## 1. 스택(stack))

In [1]:
stack = [1,2,3]
stack.append(4) #push 역할tack = [1,2,3]
stack.append(4) #push 역할
stack

[1, 2, 3, 4]

In [2]:
stack.pop()

4

In [3]:
stack

[1, 2, 3]

In [5]:
# 입력한 문자열을 거꾸로 추출
word = input('단어 입력')
word_list = list(word)
print(word_list)

#거꾸로 단어 추출하기 

result = [] #리스트
for _ in range(len(word_list)): #_는 범위변수로 횟수만큼만 for문을 쓸 때, 허나 그 변수 ex i 는 사용하지 않을 때 사용
   result.append(word_list.pop()) #pop() #스택구조
print(result)

['p', 'y', 't', 'h', 'o', 'n']
['n', 'o', 'h', 't', 'y', 'p']

In [6]:
queue = [1,2,3,4]
queue.pop(0) #제일 앞에꺼 빼가기

1

In [7]:
queue #제일 앞에서 빼가고 남은 것들

[2, 3, 4]

## 3. 튜플(Tuple))

In [2]:
t = (1,2,3)
st = tuple('word')
t, st

((1, 2, 3), ('w', 'o', 'r', 'd'))

In [3]:
#괄호가 없어도 튜플로 인식
t = 1,2,3
t

(1, 2, 3)

In [4]:
t.count(1)

1

In [5]:
t[0] = 4 #읽기 전용. 불변임

TypeError: 'tuple' object does not support item assignment

In [6]:
# 시퀀스 자료형이므로 for 문에서 사용가능 시퀀스 자료형이므로 for 문에서 사용가능
for element in t:
    print(element)

1
2
3

## 4. 세트(Set)

In [8]:
s = set([1,2,3,1,2,3])
s

{1, 2, 3}

In [9]:
s = set((1,2,3))
s

{1, 2, 3}

In [10]:
s.add(1) #하나의 element를 추가함. 중복되는건 추가 x
s

{1, 2, 3}

In [12]:
s.update([1,3,5,7])
s

{1, 2, 3, 5, 7}

In [13]:
s.remove(7)
s

{1, 2, 3, 5}

In [15]:
s.discard(3)
s

{1, 2, 5}

In [17]:
s.clear()
s

set()

In [ ]:
# Union
# s1 sunion s2
# union(s1,s2)
# s1.union(s2)

In [19]:
s1 = set(range(1,6))
s2 = set(range(3,8))
s1,s2

({1, 2, 3, 4, 5}, {3, 4, 5, 6, 7})

In [20]:
# 합집합(Union))
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
# 교집합 (Intersction)
s1.intersection(s2)

In [21]:
# 차집합(Difference)
s1.difference(s2)

{1, 2}

In [22]:
s1 - s2

{1, 2}

In [ ]:
for i in s1:
    print(i)