# 딕셔너리 (Dictionary)

## 딕셔너리 만들기(c)

In [27]:
# 방법 1
lux = {'health':490, 'mana':334, 'melee':550,'armor':18.72}
lux

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [28]:
#dict 함수에 키 콜밸류 키콜밸류 키콜밸류 

lux1 = dict(health=490, mana= 334, melee= 550, armor= 18.72 )
lux1

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [1]:
#방법 3: 키 밸류에 튜플/리스트

lux2 = dict([('health', 490), ('mana', 334),
             ('melee', 550), ('armor', 18.72)])
lux2

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [30]:
# 방법 4: zip함수를 이용하여 키하고 밸류를 하나씩 묶음


list(zip([1, 2, 3], ['a', 'b', 'c']))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [31]:
key_list = ['health','mana','melee','armor']
val_list = [490, 334, 550, 18.72]
list(zip(key_list, val_list))

[('health', 490), ('mana', 334), ('melee', 550), ('armor', 18.72)]

In [32]:
lux3 = dict(zip(key_list,val_list))
lux3

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

## - 딕셔너리 참조하기(R)

In [33]:
lux['health']

490

### - 딕셔너리 값 변경하기(U)

In [34]:
lux['health'] = 600
lux

{'health': 600, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [35]:
lux['mana'] += 100
lux

{'health': 600, 'mana': 434, 'melee': 550, 'armor': 18.72}

In [36]:
# lux에 없는 값을 이렇게 입력하면 새로운 값이 추가가 됨!

lux['mana_regen'] = 3.28
lux

{'health': 600, 'mana': 434, 'melee': 550, 'armor': 18.72, 'mana_regen': 3.28}

## - 딕셔너리 값 삭제하기(D)

In [37]:
lux.pop('mana_regen')
lux

{'health': 600, 'mana': 434, 'melee': 550, 'armor': 18.72}

In [38]:
del lux['armor']
lux

{'health': 600, 'mana': 434, 'melee': 550}

### - 딕셔너리의 키/밸류 값들을 가져오기

In [2]:
lux2.keys()

dict_keys(['health', 'mana', 'melee', 'armor'])

In [3]:
lux2.values()

dict_values([490, 334, 550, 18.72])

### - 딕셔너리 반복문

In [41]:
lux.items()

dict_items([('health', 600), ('mana', 434), ('melee', 550)])

In [44]:
for key, value in lux.items():
    print(key, value, lux[key])

health 600 600
mana 434 434
melee 550 550

In [45]:
for key, value in lux.items():
    print(key, value)

health 600
mana 434
melee 550

In [43]:
for key in lux.keys():
    print(key,lux[key])

health 600
mana 434
melee 550

In [47]:
terrestrial_planet = {
    'Mercury': {
        'mean_radius': 2439.7,
        'mass': 3.3022E+23,
        'orbital_period': 87.969
    },
    'Venus': {
        'mean_radius': 6051.8,
        'mass': 4.8676E+24,
        'orbital_period': 224.70069,
    },
    'Earth': {
        'mean_radius': 6371.0,
        'mass': 5.97219E+24,
        'orbital_period': 365.25641,
    },
    'Mars': {
        'mean_radius': 3389.5,
        'mass': 6.4185E+23,
        'orbital_period': 686.9600,
    }
}
 
print(terrestrial_planet['Venus']['mean_radius'])    # 6051.8

6051.8

In [48]:
terrestrial_planet['Earth']

{'mean_radius': 6371.0, 'mass': 5.97219e+24, 'orbital_period': 365.25641}

In [49]:
terrestrial_planet['Earth']['orbital_period']

365.25641

## collections 모듈

### - deque 모듈 (스택 및 큐)

In [4]:

from collections import deque

stack = deque()
for i in range(5):
    stack.append(i)
stack

deque([0, 1, 2, 3, 4])

In [5]:
for _ in range(len(stack)):
    print(stack.pop())

4
3
2
1
0

In [8]:

queue = deque()
for i in range(5):
    queue.appendleft(i)
queue

deque([4, 3, 2, 1, 0])

In [9]:
for _ in range(len(queue)):
    print(queue.pop())

0
1
2
3
4

In [10]:
circular = deque()
for i in range(5):
    circular.append(i)
circular

deque([0, 1, 2, 3, 4])

In [11]:
circular.rotate(1)
circular

deque([4, 0, 1, 2, 3])

- ordered Dict 모듈

In [59]:
from collections import OrderedDict

d = OrderedDict()
d['x'] = 100
d['k'] = 200
d['y'] = 300

for k,v in d.items():
    print(k,v)

x 100
k 200
y 300

In [61]:
def sort_by_key(t):
    return t[0]

In [62]:
for k,v in OrderedDict(sorted(d.items(), key = sort_by_key)).items():
    print(k,v)

k 200
x 100
y 300

In [63]:
from collections import Counter

text = list('gallahad')
Counter(text)

Counter({'g': 1, 'a': 3, 'l': 2, 'h': 1, 'd': 1})

In [64]:
text  = 'A quick brown fox jumps over the lazy dog.'
Counter(text.split())

Counter({'A': 1,
         'quick': 1,
         'brown': 1,
         'fox': 1,
         'jumps': 1,
         'over': 1,
         'the': 1,
         'lazy': 1,
         'dog.': 1})

### 1. 시저암호
시저 암호는, 고대 로마의 황제 줄리어스 시저가 만들어 낸 암호인데,
예를 들어 알파벳 A를 입력했을 때, 그 알파벳의 n개 뒤에 오는 알파벳이 출력되는 것이다.
예를 들어 바꾸려는 단어가 'CAT'이고, n을 5로 지정하였을 때 "HFY"가 되는 것이다.
어떠한 암호를 만들 문장과 n을 입력했을 때 암호를 만들어 출력하는 프로그램을 작성하시오
입력: 화면에서 문자열과 n값을 입력받는다. 예 ROSE 5
출력: 암호화된 문자열을 출력

 ord (z) - ord (a) = 25
 임의의 단어 ord (x) + 5는 
 ord x - ord a +n(=5) = x -a = 23 + 5 = 26을 넘어가니까 빼고 더함

In [ ]:
encode pain text 평문
       cipher text비문 
평문 -> 비문 인코딩: 코드를 만든다. 의미있는 무언가를 만듦
비문 -> 평문 디코딩 : 위의 인코딩을 해석하는것이 디코딩

In [ ]:
암호화 평방향 : 패스워드, 로깅 
       양방향

In [ ]:
def encode(plain, n):
    cipher = ''
    for c in plain:
        diff = ord(c) - ord('A') + n
        if diff >= 26:
            cipher += chr(ord('A') + diff % 26)
        else:
            cipher += chr(ord(c) + n)
    return cipher

In [ ]:
def decode(cipher, n):
    plain = ''
    for c in cipher:
        diff = ord(c) - ord('A') - n
        if diff < 0:
            plain += chr(ord('Z') + diff + 1)
        else:
            plain += chr(ord(c) - n)
    return plain

In [ ]:
decode(encode('ROSE',3),3)

In [ ]:
word, n = input('String N 입력').split()
cipher = encode(word.upper(), int(n))
plain = decode(cipher, int(n))
print(f'입력값 {word}, {n} 에 대한 암호는 {cipher} 해독하면 {plain}')

### 2. unit 24 심사문제 5 
표준 입력으로 문자열이 입력됩니다. 입력된 문자열에서 'the'의 개수를 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 단, 모든 문자가 소문자인 'the'만 찾으면 되며 'them', 'there', 'their' 등은 포함하지 않아야 합니다.

In [2]:
text= """
the grown-ups' response, this time, was to advise me to lay aside my drawings of boa constrictors, whether from the inside or the outside, and devote myself instead to geography, history, arithmetic, and grammar. That is why, at the, age of six, I gave up what might have been a magnificent career as a painter. I had been disheartened by the failure of my Drawing Number One and my Drawing Number Two. Grown-ups never understand anything by themselves, and it is tiresome for children to be always and forever explaining things to the.
"""

In [3]:
text.count('the')

8

In [5]:
import re #regular expression 정규표현식을 다루는 모듈
text = re.sub('[\'.,\n]','',text) #re.sub 바꾸기. (찾을 문자들)를, ''(없애기)를 바꿔라 , text에서 
text

# 정규표현식 [ ]안의 단어들을 찾는것 '[ ] '
#  A-Z a-z 0-9 영문자 대소문 숫자 찾아라
#  ㄱ-ㅎ     ㅏ-ㅣ   가-힣  [ㄱ-ㅎㅏ-ㅣ가-힣]
# '       '  ,  .  \n             '를 없애고 싶을 때 
# '[ \' ,.\n   ]'

'the grown-ups response this time was to advise me to lay aside my drawings of boa constrictors whether from the inside or the outside and devote myself instead to geography history arithmetic and grammar That is why at the age of six I gave up what might have been a magnificent career as a painter I had been disheartened by the failure of my Drawing Number One and my Drawing Number Two Grown-ups never understand anything by themselves and it is tiresome for children to be always and forever explaining things to the'

In [ ]:
text = re.sub('[^A-Za-z ]','', text) #알파벳,스페이스만 남기고 다 죽여라 # ^아닌놈들

In [6]:
from string import punctuation
punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [ ]:
# word가 the인거를 찾아서 하나씩 증가시킴
# 스플릿하면 리스트가 만들어지고 그 다음에 그 리스트에서 하나씩 뽑아서 단어가 뭐인지 물어서 맞으면 카운트 하나씩 증가

text_list = text.lower().strip().split()
count = 0
for word in text_list:
    if word == 'the':
        count += 1
count

In [167]:
def get_count(word):
    if len(word('the')) < 4 :
        return word.count('the')

In [121]:
# 결과: 6
def get_count(word):
    if len(word.count('the')) < 4   :
        print(word.count('the'))

### 3. unit 24 심사문제 6
표준 입력으로 물품 가격 여러 개가 문자열 한 줄로 입력되고, 각 가격은 ;(세미콜론)으로 구분되어 있습니다. 입력된 가격을 높은 가격순으로 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 이때 가격은 길이를 9로 만든 뒤 오른쪽으로 정렬하고 천단위로 ,(콤마)를 넣으세요.

In [215]:
price = '51900;83000;158000;367500;250000;59200;128500;1304000'
print(price)

51900;83000;158000;367500;250000;59200;128500;1304000

In [222]:
price_tab = price.split(';')
print(price_tab)

['51900', '83000', '158000', '367500', '250000', '59200', '128500', '1304000']

In [231]:
# 리스트를 문자열을 정수로 변환
price_int = list(map(int,price_tab))
print(price_int)

[51900, 83000, 158000, 367500, 250000, 59200, 128500, 1304000]

In [234]:
 print(price_int.sort(reverse=True))

None

In [233]:
price_1000 = print(f'{price_int:,}')
price_1000

TypeError: unsupported format string passed to list.__format__

In [ ]:
#정답

In [ ]:
input_str = '51900;83000;158000;367500;250000;59200;128500;1304000'
price_list = list(map(int, input_str.split(';')))
price_list

In [ ]:
price_list.sort(reverse=True)
price_list

In [ ]:
for price in price_list:
    print(f'{price:9,d}')

In [ ]:
price = '51900;83000;158000;367500;250000;59200;128500;1304000'

int 함수를 이용해서 묶어서 list로 묶음 
list(map(int,input_str.split(';')))

sort reverse로 내림차순

for price in price_list:

    {price:9,d} 를 쓰면 세로로 프린트 됨! 퍼센트 9,d라는 이야기. 어떤 정수를 천단위로 구분지어서 쓸 수 있음

### 4. unit 12 심사문제

In [ ]:
keys = input().split()
values = map(float, input().split())
lux = dict(zip(keys, values))
lux

### 5. unit 25 심사문제
표준 입력으로 문자열 여러 개와 숫자(실수) 여러 개가 두 줄로 입력됩니다. 입력된 첫 번째 줄은 키, 두 번째 줄은 값으로 하여 딕셔너리를 생성한 뒤 딕셔너리를 출력하는 프로그램을 만드세요. input().split()의 결과를 변수 한 개에 저장하면 리스트로 저장됩니다.

In [ ]:
keys = input().split()
values = map(int, input().split())
x = dict(zip(keys, values))
x

In [ ]:
del x['delta'] # 델타지우기
x

In [ ]:
for key, value in x.items():
    if value == 30:
        break
del x[key]
x

In [ ]:
# 밸류가 30인걸 지우기. for문안에서 어떤 글자를 지우면 x가 에러가 남. x.items으로 for문 돌리는데 없어서. for문 안에서는 가급적이면 key값을 지우지 않는게 좋음.

for key, value in x.items():
    if value == 30:
        break
del x[key]
x